.table {
    border-collapse: collapse;
    width: 600px;
}

.table td,
.table th {
    border: 1px solid white;
    padding: 8px;
    color: #6c6cc0;
    font-weight: bold;
}

.table tr:nth-child(even) {
    background-color: hsl(240, 40%, 30%);
}

.table tr:hover {
    background-color: #6c6cc0;
}

.table th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #6c6cc0;
    color: white;
}
